<html>

<head>
    <link rel="stylesheet" href="./main.css">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <meta charset="UTF-8">
    <script src="/node_modules/socket.io/client-dist/socket.io.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Roboto+Condensed&display=swap"
        rel="stylesheet">
</head>

<body>
    <header>
        <div id="datenav">
            {{ hours }}:{{ minutes }}/{{ seconds }}
        </div>
        <div class="links">
            <ul class="header_ul">
                <globallink href="https://vk.com" name="Vk"></globallink>
                <li class="headerlink"><a href="https://vk.com">Vk</a></li>
                <li class="headerlink"><a href="https://youtube.com">YouTube</a></li>
                <li class="headerlink"><a href="https://learn.javascript.ru/">JS'кa</a></li>
                <li class="headerlink"><a href="https://ru.vuejs.org/v2/guide/index.html">Вьюшка</a></li>
            </ul>
        </div>
        <div id="menuburger">
            <div class="menuBurger" v-on:click="burgerClicked"><img src="./img/hamburger-256.png" alt=""></div>
            <div class="otherlinks" v-bind:class="{ 'seen': !isActive }" id="otherlinks">
                <otherlink v-for="link in links" v-bind:link="link.link" v-bind:imgsrc="link.imgsrc"
                    v-bind:about="link.about" v-bind:key="link.id"></otherlink>
            </div>
        </div>
    </header>
    <main>
        <div id="kostya">

            <div id="searchbar">
                <input type="text" v-bind:placeholder="startmsg" v-model="message" class="searchbar"
                    v-on:keyup.enter="arrive" v-on:keyup.up="upsearch" v-on:keyup.down="downsearch" id="inputbar">
                <div class="buttonsearch" v-on:click="arrive">Найти</div>
            </div>

            <div id="diver" v-if="seensearches">
                <div class="searches">
                    <a v-bind:href="link.link" class="searcheslink" v-for="(link,indexsearch) in memorysearches">
                        <div class="search commonsearch" v-bind:class="{activesearch:(index==indexsearch)}">
                            <p>{{ link["name"] }}</p>
                        </div>
                    </a>
                </div>
            </div>

        </div>
    </main>
    <script src="./main.js"></script>
</body>

</html>